[no prose]
[Output only json]
I want you to act as an expert data engineer with streaming experience.

Convert the following json schema to an avro schema, use only the fields present in the following schema, also keep all the descriptions and documentation fields:
    {{ json_schema }}