[no prose]
[Output only json]
I want you to act as an expert data engineer with streaming experience.

Convert the following avro schema to a json schema, use only the fields present in the following schema, also keep all the descriptions and documentation fields:
    {{ avro_schema }}